* {
  font-family: 'Kanit', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

#joemazon-login {
  background-color: white;
}

#joemazon-login-title {
  text-align: center;
  margin-top: 5px;
}

#joemazon-login-main-content {
  text-align: center;
  margin-top: 25px;
  /* border: 1px solid black; */
}

#joemazon-login-error {
  margin-top: 10px;
  color: red;
}


.joemazon-login-spacing {
  margin-bottom: 10px;
}

#joemazon-title {
  text-align: center;
  margin-top: 10px;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: gray;
}
