<div class="jumbotron">
<h3>Welcome to Joemazon</h3>
  <p>Joemazon - A Pet Project.</p>
  <div class="container">
    <div class="row">
      <div id="joemazon-grid-square" class="jumbotron ml-auto mr-auto ">
        <section class="col-md-4 col-sm-12">
          <img class="joemazon-picture-size" src="images/book-grid-image.png"> DVDs 
        </section>
      </div>
      <div id="joemazon-grid-square" class="jumbotron ml-auto mr-auto">
        <section class="col-md-4 col-sm-12"> CDs </section>
      </div>
      <div id="joemazon-grid-square" class="jumbotron ml-auto mr-auto">
        <section class="col-md-4 col-sm-12"> Books </section>
      </div>
    </div>
  </div>
</div>