div.jumbotron 
  div.container-fluid
    h1 Your Account
    div.row 
      div.col-lg-4#joemazon-account-grid
        a(href="http://localhost:3000/user/order-history")
          div#joemazon-account-tile
            h3 Your Orders
            p Track your orders here
      div.col-lg-4#joemazon-account-grid 
        div#joemazon-account-tile
          h3 Login & Security
          p Check over your login and security details
      div.col-lg-4#joemazon-account-grid
        div#joemazon-account-tile 
          h3 Your Addresses
          p Edit or add new addresses
      div.col-lg-4#joemazon-account-grid
        div#joemazon-account-tile
          h3 Your Orders
          p Track your orders here
      div.col-lg-4#joemazon-account-grid 
        div#joemazon-account-tile
          h3 Login & Security
          p Check over your login and security details
      div.col-lg-4#joemazon-account-grid
        div#joemazon-account-tile 
          h3 Your Addresses
          p Edit or add new addresses
   
  